<div class="h-full w-full bg-red-700">
    <app-main-banner></app-main-banner>
    <div class="h-full w-full bg-green-700">
        <div class="bg-yellow-700">
            HOLA
        </div>
        <div class="bg-blue-700">
            <div class="w-[1101px] h-[123px] flex justify-between items-center gap-[81px] inline-flex">
                <div class="flex">
                    <div class="w-[313px] h-[123px] bg-gray-500">
                        <button></button>
                    </div>
                    <div class="w-[313px] h-[123px] bg-gray-500">
                        <button></button>
                    </div>
                    <div class="w-[313px] h-[123px] bg-gray-500">
                        <button></button>
                    </div>
                </div>
            </div>             
        </div>
    </div>
</div>

