<div class="h-full bg-[#540803]">
    <div class="w-full bg-[#540803]">
      <div class="row mt-8">
        <h3 class="text-sm font-semibold uppercase text-white dark:text-white">Carrito</h3>
          <div class="grid mt-4 gap-4 grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            <ng-container *ngFor="let vehiculo of vehiculos">
              <!-- [subtitle]="vehiculo.subtitle" -->
              <!-- [price]="vehiculo.price"
              [image]="vehiculo.image" -->
              <!-- title]="vehiculo.title"  -->
            </ng-container>
          </div>
      </div>
    </div>
</div>
